
.container{
	margin-top: 30px;
	text-align: center;
}

input{
	margin-top: 13px;
	border-radius: 8px;
	width: 300px;
}

select{
	margin-top: 20px;
	border-radius: 8px;
}

span{
	color: red;
}
